#!/bin/bash
LOCAL_SECRET_JSON=./pull.json
LOCAL_REGISTRY=registry.your.local
LOCAL_REPOSITORY=thenameofyourrepository
ARCHITECTURE=x86_64

# You don't need to change this tipically
PRODUCT_REPO='openshift-release-dev'
RELEASE_NAME="ocp-release"
